@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

// .font_sample01 {
  // font-family : MS UI GOTHIC, sans-seif;
  // font-style  : italic;
// }
#top-main {
  background-color: white;
}

#top-main-title {
  font-style:italic;
  font-weight: bold;
}

span{
  color: #000;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.label-form {
  margin-top: 10px;
}

.btn-form {
  margin-top: 15px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #FFF;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#header {
  background-color: green;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFF;
  // text-transform: uppercase;
  font-style:italic;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  // background-color: yellow;
  color: #808080;
  text-decoration: none;
}

li .header-list {
  color: #fff !important;
  font-weight: bold;
  // background-color: yellow;
}

li .header-list:hover {
    color: #808080 !important;
}

#dropdown-title {
  background-color: green;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
